name: Build rpm and deb packages

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Install required tools
      run: |
        sudo apt update
        sudo apt install -y rpm dpkg-dev

    - name: Build RPM package
      run: |
        cd lab4
        rpmbuild -bb count-files.spec

    - name: Build DEB package
      run: |
        dpkg-deb --build lab5
